# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Codeforces/1.c
Codeforces/1.cpp
Codeforces/2.cpp
Codeforces/3.cpp
HDU/1.cpp
HDU/1.c
HDU/10.c

Codeforces/input.txt
